{
  "extends": ["airbnb-typescript/base"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error"
  }
}
